

body{
    background-image: url("http://media.gettyimages.com/vectors/crossed-shovel-and-pickaxe-vector-id475373634?s=170x170");
    font-family: Arial, Helvetica, sans-serif;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.crystals{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.crystal{
    border: clear;
    height: 130px;
    width: 130px;
}
header {
    text-align: center;
    font-size: 60px;
    color: blue;
    
}
#randomnumb {
    text-align: center;
    font-size: 60px;
    color: rgb(10, 240, 163);
}
#random {
    text-align: center;
    font-size: 40px;
    color: blue;
}
#wins {
    text-align: center;
    font-size: 50px;
    color: aqua;
}
#loses {
    text-align: center;
    font-size: 50px;
    color: aqua;
}
#userScore {
    text-align: center;
    font-size: 50px;
    color: aqua;
}




